.App{
    /* border: 3px dashed black; */
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 80vh;
    overflow-y: scroll;
}

.App__header{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 10px;
}

body{
    cursor:url(https://cdn.custom-cursor.com/db/cursor/pointer_1426.png), auto;
}