body{
    cursor:pointer;
    background-color: bisque;
}

.App{
    display: grid;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow-y: scroll;
}

.App__header{
    text-align: center;
    font-size: 50px;
    font-weight: 500;
    margin: 10px;
    background-color: #ed8585;
    text-transform: uppercase;
    border-radius: 25px;
    border: 3px dashed black;
}
